@font-face {
    font-family: 'ccl_font';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_JAEGEONSA-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font_ccl {
    font-family: ccl_font;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}